<app-navigation-links></app-navigation-links>

<kendo-grid [data]="products">
    <kendo-grid-column field="m3Item" title="M3 SKU" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="description" title="Description" [width]="200"></kendo-grid-column>
    <kendo-grid-column field="jarCode" title="Jar Code" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="varietyCode" title="VarietyCode" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="zambelli" title="Zambelli" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="label" title="Label" [width]="50"></kendo-grid-column>
    <kendo-grid-column field="cap" title="Cap" [width]="50"></kendo-grid-column>
    <kendo-grid-column field="domino" title="Domino" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="unitsPerCase" title="Units Per Case" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="netWeight" title="Net Weight" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="palletQyt" title="Pallet Qyt" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="salesDays" title="Sales Days" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="batchOrderMultiples" title="Batch Order Multiples" [width]="100"></kendo-grid-column>
</kendo-grid>