<h2>{{title}}</h2>

<div class="mt-2 mb-2" style="width:100%;">
    <div style="float:left;">
        <label class="btn btn-primary">
            <input #importFileInput type="file" (change)="importFile($event.target.files)" style="display: none;" />
            Import File
        </label>
    </div>  

    <div style="float:right" class="dropdown-div">
        <button class="dropdown-btn btn btn-primary">Column Settings</button>
        <div class="dropdown-list">
            <label [for]="column.title" class="dropdown-item" *ngFor="let column of kendoConfig">
                <input [id]="column.title" type="checkbox" [checked]="!column.hidden" (change)="changeColumnVisibility($event,column.title)">
                 <span>{{column.title}}</span>
            </label>
        </div>
    </div>
</div>

<kendo-grid 
    [data]="products" 
    [skip]="state.skip"
    [pageSize]="state.take"
    [filter]="state.filter"
    [sort]="state.sort"
    [pageable]="true"
    [filterable]="true"
    [sortable]="true"
    [height]="505"
    (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column *ngFor="let column of kendoConfig" [field]="column.field" [title]="column.title" [width]="column.width" [filter]="column.filter" [hidden]="column.hidden">
        <ng-template *ngIf="column.title == 'Actions'" kendoGridCellTemplate let-dataItem>
            <a routerLink="{{dataItem.ID}}"><i class="k-icon k-i-eye"></i></a>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>